#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(98,90,224,1) 16%, rgba(252,70,107,1) 77%);
  font-size: 1.2em;
  font-family:sans-serif;
  margin: 0;
}


header {
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
}

header nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header nav a{
  color: #fff;
  text-decoration: none;
  padding: 25px 40px;
  transition: border-color 0.6s ease-in-out;
  border-bottom: 1px solid transparent;
}

header nav a:hover{
  border-bottom: 3px solid rgb(240, 85, 180);
  
}

footer{
  color: #fff;  
  display: flex;
  justify-content: center;
  padding: 15px;
}

main{
  display: flex;
  flex: 1;
  justify-content: center;
}

section{
background: rgba(151, 121, 182, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.7px);
-webkit-backdrop-filter: blur(0.7px);
border: 1px solid rgba(151, 121, 182, 0.54);
padding: 20px;
width: 35%;


animation-duration: 0.3s;
}

input{
  border: 0;
  border-bottom: 2px solid #c2c2c2;
  border-radius: 7px;
  height: 25px;
  font-size: 1em;
  padding: 5px;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.384);
  outline: none;
  color: #fff;
  width: 99%;
}

button{
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
  padding: 15px;
  border: 0 transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  text-shadow: 10px;
}

input::placeholder{
  font-style: italic;
  text-shadow: 13px;
}