#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgb(82, 42, 109) 0%, rgb(36, 41, 180) 50%, rgb(179, 126, 228) 100%);
  font-size: 1.2em;
  font-family:sans-serif;
  margin: 0;
}


header {
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
}

header nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header nav a{
  color: #fff;
  text-decoration: none;
  padding: 25px 40px;
  transition: border-color 0.6s ease-in-out;
  border-bottom: 1px solid transparent;
}

header nav a:hover{
  border-bottom: 3px solid rgb(240, 85, 180);
  
}

footer{
  color: #fff;  
  display: flex;
  justify-content: center;
}

main{
  display: flex;
  flex: 1;
}
